body {
    background-color: #f8f8f8;
}

.container {
    border: solid 2px blue;
    background-color: #f8f8f8;
    width: 80px;
    height: 40px;
    box-shadow: inset 4px 4px 6px #cecece, inset -4px -4px 6px #fff;
    margin: 0px auto;
    margin-top: 350px;
    border-radius: 25px;
    cursor: pointer;
}

.toggle {
    border: solid 2px red;
    /* top: 0;
    left: 0; */
    width: 40px;
    height: 40px;
    transform: scale(.7);  /* Aplica el 70% del width y height:  anterior */   
    background-color: #D8D8D8;
    border-radius: 25px;
    box-shadow: 3px 3px 8px #c4c4c4, -3px -3px 8px #fff;
}

body.active {
    background-color: rgb(23, 23, 23);
    color: white;
}